# Top 10 Movies recommendation System (Unfinished)
- predict the movies a user might like based on historical data or user preferences.

- For each movie, the model would output a probability score that indicates how much the user might like it.

In [1]:
import pandas as pd

# Import csv data
movies_c = pd.read_csv('app/data/movies.csv')
movies_c.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings_c = pd.read_csv('app/data/ratings.csv')
ratings_c.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
tags_c = pd.read_csv('app/data/tags.csv')
tags_c.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200


> Algorithm used ranfom forest.

**Input :**

- genres  or,
- tags  or,
- rating

**Output :**
- movieId
- title
- score out of

In [ ]:
# Preprocessing data (Make a DF with : movieId, title, tags, avg_rating, genres)
# TO LEARN : one-hot encoding or label encoding
'''
The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.
 '''
genres = "FRONT | ML | DEVOPS | CLOUD | "
print(genres.split('|'))

movies_c['genres']

['FRONT ', ' ML ', ' DEVOPS ', ' CLOUD ', ' ']

0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
                           ...
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: genres, Length: 9742, dtype: object

**Clean up genres**

In [ ]:
movies_c['genres'] = movies_c['genres'].str.split('|');
movies_c.head(2)

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"

**Calculate the average rating for each movie**

In [ ]:
#groupby() created a group of ratings with same movieId
#groups = ratings_c.groupby('movieId').count()
#groups = ratings_c.groupby('movieId').max()
#groups = ratings_c.groupby('movieId').mean()
avg_ratings = ratings_c.groupby('movieId')['rating'].mean()
avg_ratings.head()

movieId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: rating, dtype: float64

merge average ratings with corresponding movies

In [ ]:
movies_c.merge(avg_ratings, on='movieId')

,movieId,title,genres,rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",3.920930
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",3.431818
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",3.259615
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",2.357143
4,5,Father of the Bride Part II (1995),[Comedy],3.071429
...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),"[Action, Animation, Comedy, Fantasy]",4.000000
9720,193583,No Game No Life: Zero (2017),"[Animation, Comedy, Fantasy]",3.500000
9721,193585,Flint (2017),[Drama],3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),"[Action, Animation]",3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),[Comedy],4.000000